<!-- new widgets are made with  -->
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="send_idle" data-view="Threshold" data-title="Idle Period" data-operator="lesser" style="background-color: #4FD5D6"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="send_query" data-view="Threshold" data-title="Query" data-operator="greater" style="background-color: #4FD5D6"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="send_load" data-view="Threshold" data-title="Shorterm Load" data-operator="lesser" style="background-color: #4FD5D6"></div>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="send_free" data-view="Threshold" data-title="Free Memory" data-operator="lesser" style="background-color: #4FD5D6"></div>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
     <div data-id="urlcheck" data-view="Urllist" data-unordered="true" data-title="URLs"</div>
    </li>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="graphite_wave_test" data-view="Wavegraph"
	   data-title="" style="background-color:#2299ff"></div>
    </li>
  </ul>
</div>
