<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphite_test" data-view="Number" data-title="Idle Period" style="background-color: green"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="query_test" data-view="Graph" data-title="Query Trend" style="background-color: #4FD5D6"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="query_test" data-view="Graph2" data-title="Query Trend With Treshold" style="background-color: #4FD5D6"></div>
    </li>
  </ul>
</div>
