<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="graphite_test" data-view="Number" 
	   data-title="Idle Period" style="background-color: green"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="graphite_load_test" data-view="Graph"
	   data-title="Graphite Load" style="background-color:#ff9922"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="graphite_wave_test" data-view="Wavegraph"
	   data-title="Graphite Wave" style="background-color:#99ff22"></div>
    </li>
</div>
