<!-- new widgets are made with  -->
<div class="gridster">
  <ul>
    <li data-row="2" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="graphite_wave_test" data-view="Wavegraph"
     data-title="Graphite Wait Wavelet" style="background-color:#2299ff"></div>
    </li>
  </ul>
</div>
